<a href="https://colab.research.google.com/github/yuliiabosher/Python-with-Data-course/blob/main/Wrangle_the_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merging dataframes, creating new columns, replacing with default or correctly formatted values
---

## Merging dataframes

We often want to use data from a set of different data files, or a set of dataframes we have prepared, to combine into one dataframe.

### To merge two dataframes together when both dataframes have column headings in common

If `df1` and `df2` have some column headings in common, to combine the two into one dataframe we use:  

`pd.concat([dataframes to combine])`

This will create a new dataframe with all columns from the original two dataframes, which we can store in a new variable for later use.  Missing values are filled with null values.

If we want only the column headings that appear in both tables, we can use join='inner':

`pd.concat([dataframes to combine], join='inner')`

We may also need to refactor the indexing, where two tables are indexed from 0 upwards, adding the two tables together will result in multiple occurences of the same index.  This can be overcome by using ignore_index=True:

`pd.concat([dataframes to combine], join='inner', ignore_index=True)`

### Exercise 1 - look at the data

The Excel file at this URL https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true contains TWO data sheets named county-level and state-level.  

In the code cell below, read the county-level sheet into a dataframe called county_level_df and display the contents to see what it looks like.

Then, add more code to read the state-level sheet into a dataframe called state_level_df and display the contents to see what this one looks like.

In [23]:
import pandas as pd
county_level_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true", sheet_name = 'county-level')
state_level_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true", sheet_name = 'state-level')

### Exercise 2 - combine the two data sets

Use `pd.concat([list of dataframes])` to combine the two dataframes into a new dataframe called **income_df**, filling missing values with null values.  

**Test output**:  
income_df.shape will be (23, 7)  
The Pop and Education columns will contain NaN for the first 18 rows  
The County and Population columns will contain NaN for the last 5 rows

In [18]:
income_df = pd.concat([county_level_df, state_level_df])
income_df.shape
income_df

   State  County  Population  Age  Income      Pop  Education
0     TX     1.0        72.0   34      65      NaN        NaN
1     TX     2.0        33.0   42      45      NaN        NaN
2     TX     5.0        25.0   23      46      NaN        NaN
3     TX     6.0        54.0   36      65      NaN        NaN
4     TX     7.0        11.0   42      53      NaN        NaN
5     TX     8.0        28.0   25      62      NaN        NaN
6     TX     9.0        82.0   35      66      NaN        NaN
7     TX    10.0         5.0   40      75      NaN        NaN
8     MD    11.0        61.0   27      22      NaN        NaN
9     MD     2.0         5.0   23      69      NaN        NaN
10    MD     4.0        98.0   25      73      NaN        NaN
11    MD     3.0        64.0   29      75      NaN        NaN
12    MD     2.0        36.0   24      65      NaN        NaN
13    MD     1.0        24.0   25      66      NaN        NaN
14    MD     5.0        34.0   31      78      NaN        NaN
15    MD     6.0        89.0   22      81      NaN        NaN
16    MD     8.0        21.0   25      73      NaN        NaN
17    MD     7.0        21.0   30      62      NaN        NaN
0     TX     NaN         NaN   32      54  23543.0       10.2
1     MD     NaN         NaN   29      69  10343.0       10.3
2     IN     NaN         NaN   41      35   5231.0       10.1
3     CA     NaN         NaN   35      67  29587.0       10.4
4     NY     NaN         NaN   34      78  18142.0       10.2

### Exercise 3 - ignoring index to get a new indexing system
---

All rows in each dataframe are indexed from 0 to one less than the number of rows.  You will have noticed that the concatenation in the previous exercise has kept the indexing from the individual tables.  

If we are making a new table it may make sense to create a new set of indices, from 0 to one less than the length of the new table.   Do this by adding an extra paramater ignore_index=True.  ignore_index is False by default and all original indices are kept.

Combine the dataframes `county_level_df` and `state_level_df` into a new dataframe called `income_df`, adding the parameter `ignore_index=True`.

In [20]:
income_df = pd.concat([county_level_df, state_level_df], ignore_index = True)
income_df

   State  County  Population  Age  Income      Pop  Education
0     TX     1.0        72.0   34      65      NaN        NaN
1     TX     2.0        33.0   42      45      NaN        NaN
2     TX     5.0        25.0   23      46      NaN        NaN
3     TX     6.0        54.0   36      65      NaN        NaN
4     TX     7.0        11.0   42      53      NaN        NaN
5     TX     8.0        28.0   25      62      NaN        NaN
6     TX     9.0        82.0   35      66      NaN        NaN
7     TX    10.0         5.0   40      75      NaN        NaN
8     MD    11.0        61.0   27      22      NaN        NaN
9     MD     2.0         5.0   23      69      NaN        NaN
10    MD     4.0        98.0   25      73      NaN        NaN
11    MD     3.0        64.0   29      75      NaN        NaN
12    MD     2.0        36.0   24      65      NaN        NaN
13    MD     1.0        24.0   25      66      NaN        NaN
14    MD     5.0        34.0   31      78      NaN        NaN
15    MD     6.0        89.0   22      81      NaN        NaN
16    MD     8.0        21.0   25      73      NaN        NaN
17    MD     7.0        21.0   30      62      NaN        NaN
18    TX     NaN         NaN   32      54  23543.0       10.2
19    MD     NaN         NaN   29      69  10343.0       10.3
20    IN     NaN         NaN   41      35   5231.0       10.1
21    CA     NaN         NaN   35      67  29587.0       10.4
22    NY     NaN         NaN   34      78  18142.0       10.2

### Exercise 4 - combine just the columns which are common to both

Add an extra parameter, `join='inner'` and combine the dataframes `county_level_df` and `state_level_df` into a new dataframe called `income_df`  

**Test output**:  
income_df.shape will be (23, 3)   
Column headings will be State, Age, Income  
There will be 23 rows indexed 0 to 22

In [21]:
income_df = pd.concat([county_level_df, state_level_df], ignore_index = True, join = 'inner')
income_df

   State  Age  Income
0     TX   34      65
1     TX   42      45
2     TX   23      46
3     TX   36      65
4     TX   42      53
5     TX   25      62
6     TX   35      66
7     TX   40      75
8     MD   27      22
9     MD   23      69
10    MD   25      73
11    MD   29      75
12    MD   24      65
13    MD   25      66
14    MD   31      78
15    MD   22      81
16    MD   25      73
17    MD   30      62
18    TX   32      54
19    MD   29      69
20    IN   41      35
21    CA   35      67
22    NY   34      78

# Appending rows to a dataframe

Where two dataframes have matching columns, we can append one to the other to add the records from one onto the end of the other.

We do this using dataframe.append()

income_2 = income.append()

### Exercise 5 - add new rows to the end of the income dataframe

The sheet `income` in the Excel data file has 10 further records showing State, Age and Income only, so this table matches the income dataframe exactly.

Read the data from sheet_name `income` in the same Excel data file into a new dataframe called income_new.  

Display the data so that you can inspect it.  

Now append this dataframe to the `income` dataframe to form a new dataframe called **income_df_v2**.  Use the ignore_index=True parameter to reindex.  

**Test output**:  
income_df_v2.shape = (33, 4)  
Rows are indexed from 0 to 32

In [34]:
income_new = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true", sheet_name = 'income')
income_df_v2 = income_df.append(income_new, ignore_index = True)
income_df_v2

<ipython-input-34-5ac07eeb8077>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  income_df_v2 = income_df.append(income_new, ignore_index = True)

   State  Age  Income
0     TX   34      65
1     TX   42      45
2     TX   23      46
3     TX   36      65
4     TX   42      53
5     TX   25      62
6     TX   35      66
7     TX   40      75
8     MD   27      22
9     MD   23      69
10    MD   25      73
11    MD   29      75
12    MD   24      65
13    MD   25      66
14    MD   31      78
15    MD   22      81
16    MD   25      73
17    MD   30      62
18    TX   32      54
19    MD   29      69
20    IN   41      35
21    CA   35      67
22    NY   34      78
23    TX   32      69
24    MD   41      35
25    IN   32      69
26    CA   35      54
27    NY   29      78
28    TX   35      54
29    MD   34      67
30    IN   41      35
31    CA   29      78
32    NY   34      67

### Exercise 6 - Create a new Pop column in county_level_df

Looking at the tables country_level_df and state_level_df, each has a column containing data on population.  One column is headed *Population* and the other is headed *Pop*.  Ideally these would be merged into one column and this would minimise the number of NaN entries.  

*  Add a new column called '`Pop`' to the `county_level_df` dataframe which contains a copy of all the values in the '`Population`' column  (`df['new_name'] = df['existing_name']`)  
*  Drop the 'Population' column (`df.drop(column name), axis=1`) from `county_level_df` and store the result in a new dataframe called **county_level_df_v2**
*  display the new dataframe

In [43]:
county_level_df['Pop'] = county_level_df['Population']
county_level_df_v2 = county_level_df.drop('Population', axis=1)
display(county_level_df_v2)

   State  County  Age  Income  Pop
0     TX       1   34      65   72
1     TX       2   42      45   33
2     TX       5   23      46   25
3     TX       6   36      65   54
4     TX       7   42      53   11
5     TX       8   25      62   28
6     TX       9   35      66   82
7     TX      10   40      75    5
8     MD      11   27      22   61
9     MD       2   23      69    5
10    MD       4   25      73   98
11    MD       3   29      75   64
12    MD       2   24      65   36
13    MD       1   25      66   24
14    MD       5   31      78   34
15    MD       6   22      81   89
16    MD       8   25      73   21
17    MD       7   30      62   21

## Exercise 7 - clean up the format of the Pop column in state_level_df

Now that both dataframes hava a Pop column, we should make the data consisent in format for both dataframes.

In `county_level_df_v2` the values in the `Pop` column are in 1000s.  In `state_level_df` the values in the `Pop` column are actual numbers.  Let's convert the `state_level_df` values to 1000s for consistency.  We can do this by performing an operation on a column ( `df[column name] = df[column name] / 1000 `)

*  make a copy of `state_level_df` called **state_level_df_v2** (use df.copy())
*  convert the values in the `Pop` column of the `state_level_df_v2` dataframe to numbers of 1000s from actual numbers, rounding to whole numbers
*  convert the values in the 'Pop' column to int64 (df[column name].astype(int))


**Test output**:
24, 10, 5, 30, 18, dtype: int64

In [63]:
state_level_df_v2  = state_level_df.copy()
state_level_df_v2['Pop'] = round(state_level_df_v2['Pop'] / 1000)
state_level_df_v2['Pop'] = state_level_df_v2['Pop'].astype(int)
state_level_df_v2

  State  Pop  Age  Income  Education
0    TX   24   32      54       10.2
1    MD   10   29      69       10.3
2    IN    5   41      35       10.1
3    CA   30   35      67       10.4
4    NY   18   34      78       10.2

### Exercise 8 - combine the two v2 dataframes

Combine `county_level_df_v2` and `state_level_df_v2` to create a new dataframe called **income_df_v3**.  The join type should be 'inner' and ignore_index should be True

In [66]:
income_df_v3 = pd.concat([county_level_df_v2, state_level_df_v2], join = 'inner', ignore_index = True)
income_df_v3

   State  Age  Income  Pop
0     TX   34      65   72
1     TX   42      45   33
2     TX   23      46   25
3     TX   36      65   54
4     TX   42      53   11
5     TX   25      62   28
6     TX   35      66   82
7     TX   40      75    5
8     MD   27      22   61
9     MD   23      69    5
10    MD   25      73   98
11    MD   29      75   64
12    MD   24      65   36
13    MD   25      66   24
14    MD   31      78   34
15    MD   22      81   89
16    MD   25      73   21
17    MD   30      62   21
18    TX   32      54   24
19    MD   29      69   10
20    IN   41      35    5
21    CA   35      67   30
22    NY   34      78   18

###  Exercise 9 - create a function that does all the wrangling

Create a function called **get_income_df()** which reads the three data sheets, creates the new versions of `county_level_df` and `state_level_df` and combines the new versions.

This function should:

*  read the three sheets into the dataframes `county_level_df`, `state_level_df` and `income_new_df`
*  clean up the Population column of `county_level_df` so that it has the name Pop
*  clean up the Pop column of `state_level_df` so that it contains values that are whole numbers of 1000s
*  combine `county_level_df` and `state_level_df` with join='inner', ignoring index
*  append income_new_df to the combined dataframe  
*  SORT the final dataframe on Income in descending order
*  return the final dataframe

**Test output**:  
dataframe shape = (33, 4)   
first row = 10	MD	25	73	98     
last row = 7	TX	40	75	5

In [73]:
def get_income_df():
  county_level_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true", sheet_name = 'county-level')
  state_level_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true", sheet_name = 'state-level')
  income_new_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true", sheet_name = 'income')
  county_level_df['Pop'] = county_level_df['Population']
  county_level_df = county_level_df.drop('Population', axis=1)
  state_level_df_v2  = state_level_df.copy()
  state_level_df_v2['Pop'] = round(state_level_df_v2['Pop'] / 1000)
  state_level_df_v2['Pop'] = state_level_df_v2['Pop'].astype(int)
  income_df_v3 = pd.concat([county_level_df_v2, state_level_df_v2], join = 'inner', ignore_index = True)
  income_df_v2 = income_df_v3.append(income_new_df, ignore_index = True)
  income_df_sorted = income_df_v2.sort_values(by = "Income", ascending = False)
  return income_df_sorted
get_income_df()

<ipython-input-73-b9b85ba0d6f0>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  income_df_v2 = income_df_v3.append(income_new_df, ignore_index = True)

   State  Age  Income   Pop
15    MD   22      81  89.0
31    CA   29      78   NaN
27    NY   29      78   NaN
22    NY   34      78  18.0
14    MD   31      78  34.0
7     TX   40      75   5.0
11    MD   29      75  64.0
16    MD   25      73  21.0
10    MD   25      73  98.0
25    IN   32      69   NaN
23    TX   32      69   NaN
9     MD   23      69   5.0
19    MD   29      69  10.0
29    MD   34      67   NaN
21    CA   35      67  30.0
32    NY   34      67   NaN
13    MD   25      66  24.0
6     TX   35      66  82.0
0     TX   34      65  72.0
12    MD   24      65  36.0
3     TX   36      65  54.0
17    MD   30      62  21.0
5     TX   25      62  28.0
28    TX   35      54   NaN
18    TX   32      54  24.0
26    CA   35      54   NaN
4     TX   42      53  11.0
2     TX   23      46  25.0
1     TX   42      45  33.0
30    IN   41      35   NaN
20    IN   41      35   5.0
24    MD   41      35   NaN
8     MD   27      22  61.0

### Exercise 10 - group by state and calculate statistics

Run the function get_income_df() and store the result in a new dataframe called **income_df**.

Group income_df by State and calculate some statistics on the groups.

Add a description, in the cell below, of what the statistics show and why in the text box.

In [86]:
income_df = get_income_df()
x = income_df.groupby(['State']).agg(
    {
        "Age": ['min', 'max'],
        "Pop": ["mean"]
    }
)
display(x)

<ipython-input-73-b9b85ba0d6f0>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  income_df_v2 = income_df_v3.append(income_new_df, ignore_index = True)

      Age            Pop
      min max       mean
State
CA     29  35  30.000000
IN     32  41   5.000000
MD     22  41  42.090909
NY     29  34  18.000000
TX     23  42  37.111111

The statistics show the minumum and maximum age in each state as well as average population in each state.