<a href="https://colab.research.google.com/github/yuliiabosher/Python-with-Data-course/blob/main/Worksheets/Air_quality_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean and wrangle air quality data

The following data file contains data collected at a roadside monitoring station.  You can see the data in a spreadsheet here: https://docs.google.com/spreadsheets/d/1XpAvrpuyMsKDO76EZ3kxuddBOu7cZX1Od4uEts14zco/edit?usp=sharing

The data contains:
* a heading line (Chatham Roadside) which needs to be skipped
* dates which are sometimes left- and sometimes right-justified indicating that they are not formatted as dates, rather they are text (so need to be converted to dates)
* times which are not all in the same format
* Nitrogen Dioxide levels which are, again, text and sometimes contain nodata
* Status which is always the same

### Project - clean, sort and wrangle the data

Read the dataset into a dataframe, skipping the first row   
Convert dates to date format  
Remove rows with nodata in the Nitrogen dioxide column  
Convert the Nitrogen dioxide levels values to float type  
Sort by Nitrogen dioxide level  
Create a new column for 'Weekdays' (use df['Date'].dt.weekday)  
Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)  
Remove the Status column  

The dataset can be viewed here:  https://drive.google.com/file/d/1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ/view?usp=sharing  and the data accessed here: https://drive.google.com/uc?id=1SOe9b4VJ1FCtDVgZ2T8d00-jTw2Kux1i  This is a .csv file  

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [37]:
import pandas as pd
df = pd.read_csv('https://drive.google.com/uc?id=1SOe9b4VJ1FCtDVgZ2T8d00-jTw2Kux1i', skiprows=1)
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df=df[df['Nitrogen dioxide'] != 'nodata']
df['Nitrogen dioxide'] = df['Nitrogen dioxide'].astype(float)
df.sort_values('Nitrogen dioxide', inplace=True)
df['Weekday'] = df['Date'].dt.weekday
df.rename(columns={'Nitrogen dioxide': 'NO2 Level (V ug/m2)'}, inplace=True)
df.drop('Status', axis=1, inplace=True)
display(df)

           Date   Time  NO2 Level (V ug/m2)  Weekday
8668 2020-12-27   5:00              0.42410        6
5712 2020-08-26   1:00              0.58689        2
4489 2020-07-06   2:00              0.58930        0
5714 2020-08-26   3:00              0.59123        2
8669 2020-12-27   6:00              0.65300        6
...         ...    ...                  ...      ...
471  2020-01-20  16:00             84.86896        0
808  2020-02-03  17:00             87.10202        0
6206 2020-09-15  15:00             87.96723        1
6209 2020-09-15  18:00             92.13063        1
470  2020-01-20  15:00            113.06189        0

[8632 rows x 4 columns]

### Expand the dataset and show summary statistics for larger dataset
---

There is a second data set here covering the year 2021:  https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ  

Concatenate the two datasets to expand it to 2020 and 2021.  

Before you can concatenate the datasets you will need to clean and wrangle the second dataset in the same way as the first.  Use the code cell below.  Give the second dataset a different name.

After the datasets have been concatenated, group the data by Weekdays and show summary statistics by day of the week.

In [70]:
dff = pd.read_csv('https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ', skiprows=1)
dff['Date'] = pd.to_datetime(dff['Date'], dayfirst=True)
dff = dff[dff['Nitrogen dioxide'] != 'nodata']
dff['Nitrogen dioxide'] = dff['Nitrogen dioxide'].astype(float)
dff.sort_values('Nitrogen dioxide', inplace=True)
dff['Weekday'] = dff['Date'].dt.weekday
dff.rename(columns={'Nitrogen dioxide': 'NO2 Level (V ug/m2)'}, inplace =True)
dff.drop('Status', axis=1, inplace=True)
display(dff)
new_df = pd.concat([df, dff])
display(new_df.groupby('Weekday').describe())

           Date   Time  NO2 Level (V ug/m2)  Weekday
7177 2021-10-27  02:00             -0.77743        2
7009 2021-10-20  02:00             -0.54076        2
7107 2021-10-24  04:00             -0.41740        6
6674 2021-10-06  03:00             -0.31174        2
7178 2021-10-27  03:00             -0.28544        2
...         ...    ...                  ...      ...
8395 2021-12-16  20:00             72.00084        3
2117 2021-03-30  06:00             72.66929        1
7695 2021-11-17  16:00             73.40940        2
1784 2021-03-16  09:00             80.27844        1
7983 2021-11-29  16:00             82.59609        0

[8680 rows x 4 columns]

        NO2 Level (V ug/m2)                                            \
                      count       mean        std      min        25%
Weekday
0                    2452.0  19.019897  13.566948  0.58930   8.944637
1                    2434.0  19.862832  13.623132 -0.10519   9.677307
2                    2485.0  21.569402  13.843067 -0.77743  10.894910
3                    2483.0  19.822405  12.873919 -0.13101  10.190015
4                    2500.0  20.776520  13.236096  0.03299  10.690697
5                    2494.0  15.905960  10.595521  0.75690   8.021902
6                    2464.0  13.160879   8.851133 -0.41740   6.782293


              50%        75%        max
Weekday
0        15.91839  26.016740  113.06189
1        16.66992  27.045835   92.13063
2        18.47115  30.186290   84.55297
3        16.82392  26.306000   72.00084
4        18.00050  28.146380   76.72297
5        13.60438  20.842495   74.93681
6        11.11951  16.998405   58.31275

### Helpful references
---
Skipping rows when reading datasets:  
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/  

Converting strings to dates:  
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:  
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/  
(see section Drop a row or observation by condition)

Convert a column of strings to a column of floats:
https://datatofish.com/convert-string-to-float-dataframe/  

Create a new column from data converted in an existing column:  
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/  

Rename a column:  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  

Remove a column by name:  
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.