<a href="https://colab.research.google.com/github/yuliiabosher/Python-with-Data-course/blob/main/Data_Analysis_Worksheets/Data_retrieval_worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [7]:
import pandas as pd
datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
x=len(datatables)
x
df = datatables[0]  #Glasgow population data
df

,Glasgow Glesca or Glesga (Scots) Glaschu (Scottish Gaelic),Glasgow Glesca or Glesga (Scots) Glaschu (Scottish Gaelic).1
0,City and council area,City and council area
1,.mw-parser-output .tmulti .multiimageinner{dis...,.mw-parser-output .tmulti .multiimageinner{dis...
2,.mw-parser-output .ib-settlement-cols{text-ali...,.mw-parser-output .ib-settlement-cols{text-ali...
3,"Nicknames: ""The Dear Green Place"", ""Baile Mòr ...","Nicknames: ""The Dear Green Place"", ""Baile Mòr ..."
4,"Motto(s): Let Glasgow Flourish Lord, let Glasg...","Motto(s): Let Glasgow Flourish Lord, let Glasg..."
5,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...
6,"Coordinates: .mw-parser-output .geo-default,.m...","Coordinates: .mw-parser-output .geo-default,.m..."
7,Sovereign state,United Kingdom
8,Country,Scotland
9,Council Area,Glasgow City
10,Lieutenancy Area,Glasgow
11,Subdivisions,23 Wards
12,Founded,Late-6th century
13,Burgh Charter,1170s[3]
14,Government,Government
15,• Body,Glasgow City Council
16,• Lord Provost,Jacqueline McLaren (SNP)
17,• Council Leader,Susan Aitken (SNP)
18,• MSPs,15 Bill Kidd (SNP) James Dornan (SNP) Kaukab S...
19,Area,Area
20,• Council area,68 sq mi (175 km2)
21,• Urban,142.3 sq mi (368.5 km2)
22,• Metro,190 sq mi (492 km2)
23,Population (2020),Population (2020)
24,• Council area,"626,410[2]"
25,• Rank,"1st in Scotland, 3rd in UK"
26,• Density,"9,210/sq mi (3,555/km2)"
27,• Urban,"632,350 (Locality)[4] 1,028,220 (Settlement)[4]"
28,• Metro,"1,861,315[5]"
29,• Language(s),English Scots Gaelic
30,Demonym,Glaswegian
31,Time zone,UTC±0 (Greenwich Mean Time)
32,• Summer (DST),UTC+1 (British Summer Time)
33,Postcode areas,G
34,Area code,0141
35,OS grid reference,NS590655
36,International Airports,Glasgow Airport (GLA) Glasgow Prestwick Airpor...
37,Main Railway Stations,Glasgow Central Glasgow Queen Street
38,Rapid transit,Glasgow subway
39,Website,City website

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [8]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

,yyyy,mm,tmax (degC),tmin (degC),af (days),rain (mm),sun (hours),status
0,1959,1,4,-2,25,40.9,54.1,NaN
1,1959,2,6.6,2.1,10,41.8,17.8,NaN
2,1959,3,10.6,4.2,0,50.9,85.7,NaN
3,1959,4,13,5.2,0,76.3,125.1,NaN
4,1959,5,18.1,7.9,0,24,222,NaN
...,...,...,...,...,...,...,...,...
741,2020,10,12.9*,7.1*,0*,185.3*,76.8*,Provisional
742,2020,11,10.6*,6.0*,0*,142.4*,29.3*,Provisional
743,2020,12,6.9*,2.6*,8*,131.0*,31.6*,Provisional
744,2021,1,4.9*,-0.2*,14*,132.2*,51.0*,Provisional
745,2021,2,7.0*,2.3*,8*,144.3*,58.8*,Provisional

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [9]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data.

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [14]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df

,regionid,dnoregion,shortname,generationmix,intensity.forecast,intensity.index
0,1,Scottish Hydro Electric Power Distribution,North Scotland,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",0,very low
1,2,SP Distribution,South Scotland,"[{'fuel': 'biomass', 'perc': 2.2}, {'fuel': 'c...",19,very low
2,3,Electricity North West,North West England,"[{'fuel': 'biomass', 'perc': 8.1}, {'fuel': 'c...",133,moderate
3,4,NPG North East,North East England,"[{'fuel': 'biomass', 'perc': 6.5}, {'fuel': 'c...",51,low
4,5,NPG Yorkshire,Yorkshire,"[{'fuel': 'biomass', 'perc': 32}, {'fuel': 'co...",242,high
5,6,SP Manweb,North Wales & Merseyside,"[{'fuel': 'biomass', 'perc': 2.7}, {'fuel': 'c...",122,moderate
6,7,WPD South Wales,South Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",328,very high
7,8,WPD West Midlands,West Midlands,"[{'fuel': 'biomass', 'perc': 0.5}, {'fuel': 'c...",231,high
8,9,WPD East Midlands,East Midlands,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",276,high
9,10,UKPN East,East England,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",184,moderate
10,11,WPD South West,South West England,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",146,moderate
11,12,SSE South,South England,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",137,moderate
12,13,UKPN London,London,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",176,moderate
13,14,UKPN South East,South East England,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",171,moderate
14,15,England,England,"[{'fuel': 'biomass', 'perc': 4.9}, {'fuel': 'c...",179,moderate
15,16,Scotland,Scotland,"[{'fuel': 'biomass', 'perc': 1.3}, {'fuel': 'c...",26,very low
16,17,Wales,Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",300,very high
17,18,GB,GB,"[{'fuel': 'biomass', 'perc': 4.2}, {'fuel': 'c...",172,moderate

## Exercise - upload a CSV file to your own Github account and write Python code to load it into a dataframe
---

1.  Download the CSV file at this link to your downloads folder on your computer: https://drive.google.com/file/d/15vDkpCKqlRHQt8f8VHER97fIqZytIAtu/view?usp=sharing

2.  Create a folder called 'Data Sets' and move the CSV file into the Data Sets folder.

3.  Log in to your Github account and navigate to the repository where you are uploading all your Colab Worksheets

4.  Click on the Add File button  
![Add file to Github](https://drive.google.com/uc?id=1szQpVcLg56yPPJc6z4wvK9mCGzSNSa5q)  Select *Upload Files* and then drag the Data Sets folder onto the page (drag the folder rather than the files in it).  Once the folder has uploaded, you will need to commit the changes.  Scroll down the page to see the Commit Changes button.  Before you commit, you can add an extended description *e.g. New folder to store data sets.*

5.  Click to open the Data Sets folder in your Github repository.  Then click to select the file `housing_in_london_yearly_variables.csv`.  You will need a link to the 'raw' data version of this file.  
![Get raw data](https://drive.google.com/uc?id=1_B9_1YK35eRpXp5kN2zBZRu0m_CIBn5i)  
Click on 'raw', you will see just the data shown in the page.  Select the URL for this page and copy it.  **This is the link you will need.**  

You can now refer to the section above 'From a csv file hosted on Github.com' and create a dataframe from your newly uploaded CSV file.

### Note:
for future data set uploads you will just need to navigate to the Data Sets folder in your Github repository and click on Add File there.  You can then just upload the file and it will sit in the Data Sets folder.

In [15]:
import pandas as pd
url1 = 'https://raw.githubusercontent.com/yuliiabosher/Python-with-Data-course/main/Data%20sets/housing_in_london_yearly_variables.csv'
df1 = pd.read_csv(url1)
df1

,code,area,date,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses,borough_flag
0,E09000001,city of london,1999-12-01,33020.0,NaN,48922,0,6581.0,NaN,NaN,NaN,1
1,E09000002,barking and dagenham,1999-12-01,21480.0,NaN,23620,3,162444.0,NaN,NaN,NaN,1
2,E09000003,barnet,1999-12-01,19568.0,NaN,23128,8,313469.0,NaN,NaN,NaN,1
3,E09000004,bexley,1999-12-01,18621.0,NaN,21386,18,217458.0,NaN,NaN,NaN,1
4,E09000005,brent,1999-12-01,18532.0,NaN,20911,6,260317.0,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,K03000001,great britain,2019-12-01,30446.0,NaN,37603,NaN,NaN,NaN,NaN,NaN,0
1067,K04000001,england and wales,2019-12-01,30500.0,NaN,37865,NaN,NaN,NaN,NaN,NaN,0
1068,N92000002,northern ireland,2019-12-01,27434.0,NaN,32083,NaN,NaN,NaN,NaN,NaN,0
1069,S92000003,scotland,2019-12-01,30000.0,NaN,34916,NaN,NaN,NaN,NaN,NaN,0
1070,W92000004,wales,2019-12-01,27500.0,NaN,31251,NaN,NaN,NaN,NaN,NaN,0